@import url('https://fonts.googleapis.com/css?family=Roboto');


.itemsDIV{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
    background-color: #7d8492;
    width: 80%;
    height: 80%;
    overflow: hidden;
    font-family: 'Roboto' , sans-serif;
}
button{
    width: 40%;
    margin: 5px 0 25px;
}
.btn{
    background-color: darkcyan;
    color: azure;
}